<!DOCTYPE html>
<html>
<head>
  <title>Kudos <%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if signed_in? %>
  <% if admin?%>	
  Admin menu:
  <ul>
    <li><%= link_to "Add new Season", new_season_path %></li>
  </ul>
  <%end%>

  <p>Welcome: <%= current_user.name%></p>	
  <ul>
    <li><%= link_to "Home", "/" %></li>
    <li><%= link_to "Seasons", seasons_path %></li>
    <li><%= link_to "New kudo", new_kudo_path %></li>
    <li><%= link_to "Sign out", signout_path %></li>
  </ul>
<% end %>

<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>

<%= yield %>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
